body{ 
    font-size: 15pt;
    font-family: 'Times New Roman', Times, serif;
    background-color: #245c94; 
}

button {
    background-color: lightblue;
    padding: 20px 40px; 
    border: none;
    cursor: pointer;
    font-size: 22px;
    }

.find-button {
    background-color:  lightblue; 
    padding: 0px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    }

.register-link {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.registration-form {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50%; 
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
}

.roles-container {
    background-color: #add8e6;
    padding: 10px;
    border-radius: 5px;
}
.roles-list {
    list-style-type: none;
    padding: 0;
}
.role-item {
    margin-bottom: 10px;
}

.role-details {
    margin-left: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
    text-align: left;
}

td.description {
    white-space: pre-line;
}

.roles-section {
    display: flex;
    align-items: center;
  }