<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  </head>

<body>
  <h1>Welcome to Indeepo</h1>

  <h2> Please select your affiliation:</h2>
  
  <a href="{{ url_for('school') }}" class="button"><button type="button">School</button></a>
  <a href="{{ url_for('filmmaker') }}" class="button"><button type="button">Filmmaker</button></a>
  <a href="{{ url_for('student') }}" class="button"><button type="button">Student</button></a>
<p>
</form>

</body>


</html>

<!--
<div>{{data}}</div>

<div>
  {% for n in data %}
  <div>{{n}}</div>
  {% endfor %}
</div>
-->
